/* Author: Juan Jose Sierra Arroyave Ing(c) 
    Primer BootCamp "piscina-42" UTP sobre fullstack
    Date: 2023-01-13
    Universidad Tecnologia de Pereira
*/

/* Importacion de la fuente utilizada en la pagina */
@import url('https://fonts.cdnfonts.com/css/arlon');

/* Estilos iniciales aplicados al documento */
*{
    margin: 0;
    padding: 0;
}

/* Se guarda en variables propiedades necesarias para acceder a ellos luego desde cualquier lugar del css */
:root{
    --fuenteTitulo: 'Arlon', sans-serif;
    --color_background: #F2D272;
    --color1: #ffc042;
    --color2: #BC3D2E;
    --colorborde: hsl(38, 77%, 59%);
}

/* clase que hace que no se pueda hacer scroll vertical en la pagina */
.no-scroll{
    overflow-y: hidden;
}

/* selector a la etiqueta p para cambiarle su alineacion del texto al centro
    y su tamaño de fuente com una medida relativa a la fuente del contenedor padre. */
p{
    text-align: justify;
    font-size: 1rem;

}

/* selector a la etiqueta img para que tenga un ancho maximo y un alto maximo
    de todo el que ocupe su contenedor padre */
img{
    max-width: 100%;
    max-height: 100%;
}

/* Estilos aplicados al modal del inicio */
.modal-intro{
    background-color: rgba(1, 0, 0, 0.72);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 5%;
}

/* clase para añadir la animacion inicial a los elementos del modal del inicio */
.entrada-inicial img,button{
    animation: bounceIn 1.5s backwards;
}

/* Animacion de rebote*/
@keyframes bounceIn {
    /* Porcentajes que significan la vida de la animacion, cunado empieza, cuando avanza un poco mas, cuando termina */
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    /* Se va escalando en 3d */
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {/* propiedad -web-kit-transform sirve para que haya compatibilidad con todos los navegadores */
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        -webkit-transform: scaleX(1);
        opacity: 1;
        transform: scaleX(1);
    }
}
/* ----------------------------------------- */

/* Al modal del juego, el que contiene la imagen,texto y boton del pesebre, se le centra su contenido */
.modal-contenido div{
    justify-content: center;
}

/* Contenedor del modal que aparece al inicio, se selecciona y se le aplican estilos para definir
su tamaño, alinear sus elementos y definir margenes. */
.modal-contenedor{
    max-height: 90%;
    max-width: 1200px;
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el contenedor del modal del juego, que contiene
   las imagenes del pesebre y que se muestra cada vez que una pareja
   coincide. */
.modal-game-contenido{
    background-color: #fff;
    border: 8px solid var(--color1);
    border-radius: 15px;
    position: relative;
    width: 100%;
    max-width: 1000px;
}

/* Estilos para las columnas que hay dentro del modal del pesebre,
   existe una columna para la imagen del pesebre y otra para el texto
   que se muestra para cada pareja y el boron de continuar */
.columnas-pesebre{
    display: grid;
    grid-template-columns: 60% 1fr;
    flex-direction: row;
    background-color: #E6CE76;
    background-image: url(../img/estrellas.png);
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn
}

/* Estilos para la imagen del copo de nieve que va a la izquierda del boton
dentro del modal del juego, se le da un posicionamiento, un ancho, un alto y una animación para que rote*/
.columna-contenido .copo1{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 30px;
    height: auto;
    animation: 2.5s rotate alternate-reverse infinite;
}

/* Estilos para la imagen del copo de nieve que va a la derecha del boton
dentro del modal del juego, se le da un posicionamiento, un ancho, un alto y una animación para que rote*/
.columna-contenido .copo2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30px;
    height: auto;
    animation: 2.5s rotate alternate-reverse infinite;
}

/* Animacion utilizada para rotar los copos de nieve, rotandolos desde 0 grados hasta 360 grados */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Estilos para la columna del modal game que contiene la imagen del pesebre */
.columna-imagen-pesebre{
    padding: 15px;
    background-color: var(--color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(img/modal/escena-pesebre.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 0;
    padding-bottom: 64%;
    border-radius: 7px 0 0 7px;
    position: relative;
    overflow: hidden;
}

/* Clase para aplirle estilos a la columna que contiene el contenido en el modal 
    cuando se encuentra una pareja. */
.columna-contenido{
    font-size: 18px;
    padding: 10px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(img/modal/cinta.png), url(img/modal/bola.png);
    background-size: 18%, 30%;
    background-position: top 7% left 4%, top right -5%;
    background-repeat: no-repeat;
    background-color: var(--color1);/* Se le aplica el color al fondo que esta guardado en la variable color1 */
    background-blend-mode: normal;
    position: relative;
}


/*--------------------------------------------------------------------
Clases para aplicarle estilos a las cubiertas de la imagen del pesebre
    se les aplica un posicionamiento especifico para cada una
---------------------------------------------------------------------*/
.modal-baltazar{
    position: absolute;
    left: 25.3%;
    top: 13.3%;
    width: 17.7%;
    height: 60%;
}

.modal-gaspar{
    position: absolute;
    left: 40%;
    top: 14.8%;
    width: 19%;
    height: 65.5%;
}

.modal-melchor{
    position: absolute;
    left: 46.5%;
    top: 39.3%;
    width: 30%;
    height: 51.2%;
}

.modal-pastor{
    position: absolute;
    left: 69.3%;
    top: 20%;
    width: 18.7%;
    height: 67%;
}

.modal-jose{
    position: absolute;
    left: 4.8%;
    top: 22.6%;
    width: 16.3%;
    height: 62.8%;
}

.modal-maria{
    position: absolute;
    left: 1.4%;
    top: 44.4%;
    width: 26.6%;
    height: 56%;
}

.modal-jesus{
    position: absolute;
    left: 25.4%;
    top: 68.2%;
    width: 21.5%;
    height: 28.8%;
}

.modal-mula{
    position: absolute;
    left: 80%;
    top: 40%;
    width: 20%;
    height: 60.2%;
}
/*---------------------------------------------------*/

/* selector utilizado para aplicarle la animacion a las cubiertas de la imgane del pesebre,
para que cuando se encuentre la pareja la cubierta se deslice y haga el efecto de que se cae */
.show-item {
    animation: swing 1s .5s both ease, slideOutDown 1s ease 1.5s 1 normal forwards;
    transform-origin: top center;
}

/* Animacion que hace un movimiento de un lado para el otro en el modal del juego */
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

/* Animacion que simula la caida de la imagen que tapa el pescebre */
@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateY(200%);
        transform: translateY(200%);
    }
}

/* Clase para que al aplicarsela a un elemento no se muestre en la pagina, hasta que le cambiemos de nuevo
su display */
.none {
    display: none;
}


/* clase para ponerle la animacion de las cartas */
.animation-card {
    animation: zoom .5s ease backwards;
}

/* Animacion entrada de cartas*/
@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
/* ----------------------------------------- */

/* Selector para ponerle estilos al titulo del modal del juego, el que sale cuando se
    encuentra una pareja */
.modal-titulo{
    font-family: var(--fuenteTitulo);
    font-size: 32px;
    font-weight: bold;
    color: var(--color2);
    margin: 15px 0 0;
    text-align: center;
}

/* Clase para aplicarsela a los modales cuando se quieran ocultar */
.hide-modal{
    display: none;
}

/* Estilos para que el boton del modal de comenzar se vea agradable */
.btn-comenzar{
    animation: bounceIn 1.5s backwards;
    --btnComenzar__color: white;
    --btnComenzar__colorFondo: #ED921F;
    --btnComenzar__colorSombra: #d77c0e;
    padding: 5px 1em;
    background-color: var(--btnComenzar__colorFondo);
    color: var(--btnComenzar__color);
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 2em;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -4px;
    box-shadow: 0 8px 0 1px var(--btnComenzar__colorSombra), 0 6px 0 1px var(--btnComenzar__colorSombra), 0 4px 0 1px var(--btnComenzar__colorSombra), 0 2px 0 1px var(--btnComenzar__colorSombra), 0 0px 0 1px var(--btnComenzar__colorSombra);
    transition: all .3s;
    text-decoration: none;
}

/* Estilos aplicados al contenido del header */
.header-content{
    color: #5fa3a5;
    font-weight: bold;
    font-size: 31px;
    line-height: 1.2;
    font-family: var(--fuenteTitulo);
    width: 100%;

}

/* Se le cambia el color de fondo a la segunda columna del header */
.second-col{
    background: #e6f9f4;
}

/* Clase para agregarle estilos al logo que aparece en la parte superior
izquierda de la pagina */
.logo{
    border: none;
    max-width: 100%;
    display: block;
    margin: auto;
}

/* Clase para darle estilos a todo el contenedor content, es decir el que va en el main y contiene las tarjetas */
.content{
    background-color: var(--color_background);
    background-image: url(https://www.escueladidactica.com/navidad/2022/img/estrellas-bg.png), url(https://www.escueladidactica.com/navidad/2022/img/background.png);
    width: 100%;
    height: 180vh;
    padding-top: 40px;
    padding-bottom: 80px;
}

/* Se le aplica posicionamiento al contenido de game, es decir a las tarjetas */
.game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: 1000px;
}

/* Para que cada tarjeta tenga un ancho del 25% con respecto a su contenendor padre, es decir el que tiene la clase game */
.carta {
    width: 25%;
}

/* Clase para darle estilos al contenedor de las tarjetas */
.game *{
	background-color: transparent;
	border: none;
}

/* Se le agrega la cubierta a la carta y se ajusta su tamaño */
.card-front{
    background-image: url(img/tarjeta_cubierta.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* Estilos para la parte donde va la imagen del santo de la carta */
.card-back {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

/* Estilos para el contenedor de la carta */
.card{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Estilos para el contenedor que sirve para girar la carta */
.card-inner{
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

/* Clase utilizada para girar la carta cuando es necesario en el juego */
.card-inner.is-flipped{
    transform: rotateY(180deg);
}

/* Estilos para las caras de las cartas */
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

/* Estilos para los botones de la izquierda que contienen las redes sociales */
.botonesizquierda{
    position: fixed;
    top: 50%;
    left: 3px;
    z-index: 100;
    line-height: 1.5;
}

/* Estilos para que el boton se vea bonito */
.btn2-circulo{
    width: 31px;
    height: 31px;
    text-align: center;
    opacity: 50%;
    margin-top: auto;
    margin-bottom: 2px;
    margin-right: 5px;
    position: relative;
}

/* Estilos para darle una transicion al boton */
.btn2-circulo:hover{
    opacity: 100%;
    transition: 0.5s;
}

/* Estilos aplicados al footer */
footer{
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0px;
    background-color: #e6f9f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-circulo{
    width: 31px;
    height: 31px;
    text-align: center;
    opacity: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    position: relative;
}

/* Estilos dados al boton para cuando el mouse este encima de el se le cambie su color, su opacidad y se le aplique una
transicion */
.btn-circulo:hover{
    color: #0056b3;
    opacity: 100%;
    transition: 0.5s;
}

#siguenos{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    position: relative;
}

.contactenos{
    background-color: #5ea4a5;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    padding: 2px 10px 3px;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    opacity: 80%;
    position: relative;
}

.contactenos:hover{
    opacity: 100%;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}

#big-row{
    display: flex;
}

#small-row{
    display: none;
}

@media(max-width:870px){

    #small-row{
        display: flex;
    }
    
    #big-row{
        display: none;
    }
}

/* MEDIA QUERIES PARA CONTENEDOR TARJETAS */

@media(max-width:830px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 80vh;
    }
}
@media(max-width:760px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 70vh;
    }
}
@media(max-width:630px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 60vh;
    }
}
@media(max-width:530px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 50vh;
    }
}
@media(max-width:430px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 40vh;
    }
}
@media(max-width:330px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 30vh;
    }
}
@media(max-width:230px){
    .game {
        height: 100%;
    }
    
    .content {
        height: 20vh;
    }
}